<form>
    <input id="fnBox" class="input-box" type="text" placeholder="First Name" #fName><br>
    <input id="lnBox" class="input-box" type="text" placeholder="Last Name" #lName><br>
    <input id="pnBox" class="input-box" type="number" placeholder="Phone Number" #phone><br>
    <input id="emBox" class="input-box" type="text" placeholder="Email" #email><br>

    <!--routes to /contacts-->
    <button type="submit" class="add-button" (click) = "save(fName.value, lName.value, phone.value, email.value)" routerLink="/contacts">Add</button>
</form>


<!--"^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$"-->